<div id="<%= dom_id error_log %>">
  <p>
    <strong>Created at:</strong>
    <%= error_log.created_at %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= error_log.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= error_log.body %>
  </p>

</div>
