<% content_for :title, "New facebook sync" %>

<h1>New facebook sync</h1>

<%= render "form", facebook_sync: @facebook_sync %>

<br>

<div>
  <%= link_to "Back to facebook syncs", facebook_syncs_path %>
</div>
